body {
  font-family: "Avenir Next";
}
li {
  list-style: none;
}
.footer-logo {
  float: left;
  padding: 20px;
}
.footer-list {
  float:right;
}
.footer-list li{
  padding-bottom: 20px;
}
.footer {
  background-color: #2f5167;
  color: #fff;
  height: 120px;
  padding: 40px;
}

